body{
    background-color: blanchedalmond;
}

main{
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
                "h h"
                "a n"
                "f f";
}

header{
    grid-area: h;
}

article{
    grid-area: a;
}

nav{
    grid-area: n;
}

footer{
    grid-area: f;
}

.box{
    background-color: aqua;
}

@media screen and (max-width:1000px) {
    main{
        grid-template-columns: 2fr 1fr;
    }

    .box{
        background-color: rgb(32, 189, 18);
    }
}

@media screen and (max-width:500px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
                "h"
                "a"
                "n"
                "f";
    }

    .box{
        background-color: rgb(18, 103, 189);
    }
}